POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=db_co_pgvector
GEMINI_API_KEY=AIzaSyBismBI7ZgZDkoNuWibIb8SpHa8Mqk0LgA
AI_EMBEDDING_MODEL=text-embedding-004
AI_CHAT_MODEL=gemini-2.5-flash
JWT_KEY=37j5Z97Mz4evQLAVi0NBSCposEbiQZDDWTFcpgODtqCZ/qdUG4PEqH1Ota18sVYFfvKZGRmUhge7KQhtn0tJ9A==
