# .NET
[Bb]in/
[Oo]bj/
[Oo]ut/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
*.log

# Node
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
.env
.env.*
!.env.example
artifacts/
**/artifacts/
appsettings.*.local.json

# MacOS
.DS_Store

# IDEs
.idea/
.vs/
*.swp
